
*{
    background-color: green;
    margin: auto;
}
body { width: 100%; height: 100%; }
.bg-box{
background-image: url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg);





    


min-width: 100%; min-height: 100%; position: relative; 
}

