
*{

}

.bg-box{
width: 1000px;
height: 680px;
background-color: green;
margin: auto;
background-image:url(grass.png), url(lampla.png), url(dom.jpg),url(yejik.webp), url(ponchik.png) ;
background-repeat: no-repeat, repeat-x,no-repeat, repeat-y, repeat-y;
background-position: bottom, top,center, left, right ;
background-size: 100% 50%, 5%, 50%, 5%, 5%;


}

